.left-side-bar
  .left-side-header
    .left-header-center-box 
      .left-header-left-box 
        = current_user.name
      .left-header-right-box 
        = link_to "#", class: "contents__btn" do
          %i.fas.fa-edit.fa-white.fa-margin
          
        -# = link_to "#", class: "contents__btn" do
        = link_to edit_user_path(current_user), class: "contents__btn" do
          %i.fas.fa-cog.fa-white
  .left-side-content
    .left-content-title techcamp
    .left-content-message まだメッセージがありません